In [1]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import os

In [2]:
# List files available
print(os.listdir("../csv_file/"))

['application_test.csv', 'application_train.csv']

In [3]:
# Training data
app_train = pd.read_csv("../csv_file/application_train.csv", index_col=0)
app_train_filt = app_train[['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']]
app_train_filt

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
SK_ID_CURR,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,N,Y,0,202500.0,406597.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
100003,0,Cash loans,F,N,N,N,0,270000.0,1293502.5,Family,State servant,Higher education,Married,House / apartment
100004,0,Revolving loans,M,Y,Y,Y,0,67500.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
100006,0,Cash loans,F,N,N,Y,0,135000.0,312682.5,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment
100007,0,Cash loans,M,N,N,Y,0,121500.0,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,0,Cash loans,M,N,N,N,0,157500.0,254700.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents
456252,0,Cash loans,F,N,N,Y,0,72000.0,269550.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment
456253,0,Cash loans,F,N,N,Y,0,153000.0,677664.0,Unaccompanied,Working,Higher education,Separated,House / apartment
456254,1,Cash loans,F,N,N,Y,0,171000.0,370107.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
456255,0,Cash loans,F,N,N,N,0,157500.0,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment

In [4]:
# Testing data features
app_test = pd.read_csv('../csv_file/application_test.csv', index_col=0)
app_test_filt = app_test[['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'DAYS_BIRTH', 'FLAG_OWN_CAR', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']]
app_test_filt

,NAME_CONTRACT_TYPE,CODE_GENDER,DAYS_BIRTH,FLAG_OWN_CAR,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
SK_ID_CURR,,,,,,,,,,,,,,
100001,Cash loans,F,-19241,N,N,Y,0,135000.0,568800.0,Unaccompanied,Working,Higher education,Married,House / apartment
100005,Cash loans,M,-18064,N,N,Y,0,99000.0,222768.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
100013,Cash loans,M,-20038,Y,Y,Y,0,202500.0,663264.0,NaN,Working,Higher education,Married,House / apartment
100028,Cash loans,F,-13976,N,N,Y,2,315000.0,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
100038,Cash loans,M,-13040,Y,Y,N,1,180000.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,Cash loans,F,-19970,N,N,Y,0,121500.0,412560.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment
456222,Cash loans,F,-11186,N,N,N,2,157500.0,622413.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
456223,Cash loans,F,-15922,Y,Y,Y,1,202500.0,315000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
456224,Cash loans,M,-13968,N,N,N,0,225000.0,450000.0,Family,Commercial associate,Higher education,Married,House / apartment
456250,Cash loans,F,-13962,Y,Y,N,0,135000.0,312768.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment

In [4]:
individu_test=pd.read_csv('individu.csv', index_col=0)

In [5]:
app_train_filt.describe(include=['O'])

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
count,307511,307511,307511,307511,307511,306219,307511,307511,307511,307511
unique,2,3,2,2,2,7,8,5,6,6
top,Cash loans,F,N,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
freq,278232,202448,202924,202924,213312,248526,158774,218391,196432,272868

In [5]:
# Number of unique classes in each object column
app_train_filt.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE     2
CODE_GENDER            3
FLAG_OWN_CAR           2
FLAG_OWN_CAR           2
FLAG_OWN_REALTY        2
NAME_TYPE_SUITE        7
NAME_INCOME_TYPE       8
NAME_EDUCATION_TYPE    5
NAME_FAMILY_STATUS     6
NAME_HOUSING_TYPE      6
dtype: int64

In [6]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train_filt:
    if app_train_filt[col].dtypes == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train_filt[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train_filt[col])
            # Transform both training and testing data
            app_train_filt[col] = le.transform(app_train_filt[col])
            # app_test_filt[col] = le.transform(app_test_filt[col])
            individu_test[col] = le.transform(individu_test[col]) 
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

<ipython-input-6-33bfa9733dbd>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app_train_filt[col] = le.transform(app_train_filt[col])

KeyError: 'NAME_CONTRACT_TYPE'

In [7]:
# one-hot encoding of categorical variables
app_train_filt = pd.get_dummies(app_train_filt)
# app_test_filt = pd.get_dummies(app_test_filt)
individu_test = pd.get_dummies(individu_test)

print('Training Features shape: ', app_train_filt.shape)
# print('Testing Features shape: ', app_test_filt.shape)
print('Individu Features shape: ', individu_test.shape)

Training Features shape:  (307511, 46)
Individu Features shape:  (1, 12)

In [8]:
train_labels = app_train_filt['TARGET']

# Align the training and testing data, keep only columns present in both dataframes
# app_train_filt, app_test_filt = app_train_filt.align(app_test_filt, join = 'inner', axis = 1)
app_train_filt, individu_test = app_train_filt.align(individu_test, join = 'inner', axis = 1)

# Add the target back in
app_train_filt['TARGET'] = train_labels

print('Training Features shape: ', app_train_filt.shape)
# print('Testing Features shape: ', app_test_filt.shape)
print('Individu Features shape: ', individu_test.shape)

Training Features shape:  (307511, 13)
Individu Features shape:  (1, 12)

In [9]:
X = app_train_filt.drop(labels="TARGET", axis=1)
y = app_train_filt['TARGET']
# X
# y

In [10]:
from sklearn.model_selection import train_test_split
X_train_sf, X_test_sf, y_train_sf, y_test_sf = train_test_split(X, y, test_size=0.25, random_state=0)

In [11]:
# test KNN
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
classifier.fit(X_train_sf, y_train_sf)

KNeighborsClassifier()

In [12]:
y_pred = classifier.predict(X_test_sf.head(50))

In [13]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_sf.head(50), y_pred)
print(cm)

# score
# from sklearn.metrics import accuracy_score
# accuracy_score(y_test_sf, y_pred)

[[47  0]
 [ 3  0]]

In [14]:
y_pred_test = classifier.predict(individu_test)

In [15]:
import collections, numpy
# y_pred_test.value_counts()
collections.Counter(y_pred_test)

# vÃ©rifie quelle utilisateur ne peut pas payer
for num in range(0, len(y_pred_test)):
    if y_pred_test[num] == 1:
        print(num)
        display(individu_test.iloc[[num]])

In [76]:
from sklearn.preprocessing import MinMaxScaler

if 'TARGET' in app_train_filt:
    train = app_train_filt.drop(columns = ['TARGET'])
else:
    train = app_train_filt.copy()

features = list(train.columns)

test = app_test_filt.copy()

scaler = MinMaxScaler(feature_range=(0, 1))

In [53]:
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)

print('Training data shape: ', train.shape)
print('Testing data shape: ', test.shape)

Training data shape:  (307511, 46)
Testing data shape:  (48744, 46)

In [54]:
from sklearn.linear_model import LogisticRegression

# Make the model with the specified regularization parameter
log_reg = LogisticRegression(C = 0.0001)

# Train on the training data
log_reg.fit(train, train_labels)

LogisticRegression(C=0.0001)

In [55]:
log_reg_pred = log_reg.predict_proba(test)[:, 1]

In [56]:
# Submission dataframe
submit = app_test_filt
submit['TARGET'] =  1 - log_reg_pred

# retourne la valeur entre 0 et 1 que le pret soit rembourser avec cette personne
submit.head()

,AMT_CREDIT,AMT_INCOME_TOTAL,CNT_CHILDREN,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,...,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,568800.0,135000.0,0,1,0,1,1,1,1,0,...,0,1,0,0,0,0,0,0,1,0.928022
100005,222768.0,99000.0,0,0,1,1,1,1,1,0,...,0,1,0,0,0,0,0,0,1,0.892556
100013,663264.0,202500.0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0.926841
100028,1575000.0,315000.0,2,1,0,1,1,1,1,0,...,0,1,0,0,0,0,0,0,1,0.913310
100038,625500.0,180000.0,1,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0.909650

In [ ]:
# fin test model

In [15]:
y_train_sf.value_counts(normalize=True)

0    0.919205
1    0.080795
Name: TARGET, dtype: float64

In [16]:
y_test_sf.value_counts(normalize=True)

0    0.91947
1    0.08053
Name: TARGET, dtype: float64

In [17]:
y.value_counts(normalize=True)

0    0.919271
1    0.080729
Name: TARGET, dtype: float64

In [18]:
y

SK_ID_CURR
100002    1
100003    0
100004    0
100006    0
100007    0
         ..
456251    0
456252    0
456253    0
456254    1
456255    0
Name: TARGET, Length: 307511, dtype: int64

In [ ]:
# test for baseline

In [19]:
from sklearn.preprocessing import MinMaxScaler

if 'TARGET' in app_train_filt:
    train = app_train_filt.drop(columns = ['TARGET'])
else:
    train = app_train_filt.copy()

features = list(train.columns)

test = app_test_filt.copy()

scaler = MinMaxScaler(feature_range=(0, 1))

In [20]:
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)

print('Training data shape: ', train.shape)
print('Testing data shape: ', test.shape)

Training data shape:  (307511, 46)
Testing data shape:  (48744, 46)

In [21]:
from sklearn.linear_model import LogisticRegression

# Make the model with the specified regularization parameter
log_reg = LogisticRegression(C = 0.0001)

# Train on the training data
log_reg.fit(train, train_labels)

LogisticRegression(C=0.0001)

In [23]:
# Make predictions
# Make sure to select the second column only
log_reg_pred = log_reg.predict_proba(test)[:, 1]

In [33]:
# Submission dataframe
submit = app_test_filt
submit['TARGET'] =  1 - log_reg_pred

# retourne la valeur entre 0 et 1 que le pret soit rembourser avec cette personne
submit.head()

,AMT_CREDIT,AMT_INCOME_TOTAL,CNT_CHILDREN,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,...,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,568800.0,135000.0,0,1,0,1,1,1,1,0,...,0,1,0,0,0,0,0,0,1,0.928022
100005,222768.0,99000.0,0,0,1,1,1,1,1,0,...,0,1,0,0,0,0,0,0,1,0.892556
100013,663264.0,202500.0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0.926841
100028,1575000.0,315000.0,2,1,0,1,1,1,1,0,...,0,1,0,0,0,0,0,0,1,0.913310
100038,625500.0,180000.0,1,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0.909650

In [57]:
# Save the submission to a csv file
submit.to_csv('log_reg_baseline.csv', index = False)