In [1]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Training data
app_train = pd.read_csv("../csv_file/application_train.csv", index_col=0)
app_train_filt = app_train[['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']]
app_train_filt

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
SK_ID_CURR,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,Family,State servant,Higher education,Married,House / apartment
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,0,Cash loans,M,N,N,0,157500.0,254700.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents
456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment
456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,Unaccompanied,Working,Higher education,Separated,House / apartment
456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
456255,0,Cash loans,F,N,N,0,157500.0,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment

In [3]:
# Testing data features
app_test = pd.read_csv('../csv_file/application_test.csv', index_col=0)
app_test_filt = app_test[['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']]
app_test_filt

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
SK_ID_CURR,,,,,,,,,,,,
100001,Cash loans,F,N,Y,0,135000.0,568800.0,Unaccompanied,Working,Higher education,Married,House / apartment
100005,Cash loans,M,N,Y,0,99000.0,222768.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
100013,Cash loans,M,Y,Y,0,202500.0,663264.0,NaN,Working,Higher education,Married,House / apartment
100028,Cash loans,F,N,Y,2,315000.0,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
100038,Cash loans,M,Y,N,1,180000.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
...,...,...,...,...,...,...,...,...,...,...,...,...
456221,Cash loans,F,N,Y,0,121500.0,412560.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment
456222,Cash loans,F,N,N,2,157500.0,622413.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
456223,Cash loans,F,Y,Y,1,202500.0,315000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
456224,Cash loans,M,N,N,0,225000.0,450000.0,Family,Commercial associate,Higher education,Married,House / apartment
456250,Cash loans,F,Y,N,0,135000.0,312768.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment

In [4]:
individu_test=pd.read_csv('individu.csv', index_col=0)
individu_test

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
SK_ID_CURR,,,,,,,,,,,,
100003,Cash loans,F,N,N,0,270000.0,1293502.5,Family,State servant,Higher education,Married,House / apartment
100002,Cash loans,M,N,Y,0,202500.0,406597.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment

In [5]:
# app_train_filt.describe(include=['O'])

In [6]:
# Number of unique classes in each object column
# app_train_filt.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

In [7]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train_filt:
    if app_train_filt[col].dtypes == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train_filt[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train_filt[col])
            # Transform both training and testing data
            app_train_filt[col] = le.transform(app_train_filt[col])
            # app_test_filt[col] = le.transform(app_test_filt[col])
            individu_test[col] = le.transform(individu_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

3 columns were label encoded.

In [8]:
# one-hot encoding of categorical variables
app_train_filt = pd.get_dummies(app_train_filt)
# app_test_filt = pd.get_dummies(app_test_filt)
individu_test = pd.get_dummies(individu_test)

print('Training Features shape: ', app_train_filt.shape)
# print('Testing Features shape: ', app_test_filt.shape)
print('Individu Features shape: ', individu_test.shape)

Training Features shape:  (307511, 42)
Individu Features shape:  (2, 17)

In [9]:
train_labels = app_train_filt['TARGET']

# Align the training and testing data, keep only columns present in both dataframes
# app_train_filt, app_test_filt = app_train_filt.align(app_test_filt, join = 'inner', axis = 1)
app_train_filt, individu_test = app_train_filt.align(individu_test, join = 'inner', axis = 1)

# Add the target back in
app_train_filt['TARGET'] = train_labels

print('Training Features shape: ', app_train_filt.shape)
# print('Testing Features shape: ', app_test_filt.shape)
print('Individu Features shape: ', individu_test.shape)

Training Features shape:  (307511, 18)
Individu Features shape:  (2, 17)

In [10]:
X = app_train_filt.drop(labels="TARGET", axis=1)
y = app_train_filt['TARGET']
# X
# y

In [11]:
from sklearn.model_selection import train_test_split
X_train_sf, X_test_sf, y_train_sf, y_test_sf = train_test_split(X, y, test_size=0.25, random_state=0)

In [12]:
# test KNN
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=2, metric='minkowski', p=2)
classifier.fit(X_train_sf, y_train_sf)

KNeighborsClassifier(n_neighbors=2)

In [13]:
y_pred = classifier.predict(X_test_sf.head(50))

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_sf.head(50), y_pred)
print(cm)

# score
from sklearn.metrics import accuracy_score
accuracy_score(y_test_sf.head(50), y_pred)

[[47  0]
 [ 3  0]]

0.94

In [15]:
y_pred_test = classifier.predict(individu_test)

In [16]:
import collections, numpy
# y_pred_test.value_counts()
collections.Counter(y_pred_test)

# vÃ©rifie quelle utilisateur ne peut pas payer
for num in range(0, len(y_pred_test)):
    print(y_pred_test[num])
    if y_pred_test[num] == 0:
        print('Le client est susceptible de rembourser')
    else:
        print('Le client prÃ©sente trop de risque')
    display(individu_test.iloc[[num]])
    ids=individu_test.index
    print(ids[num])

0
Le client est susceptible de rembourser

,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,CODE_GENDER_F,CODE_GENDER_M,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Unaccompanied,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Single / not married,NAME_HOUSING_TYPE_House / apartment
SK_ID_CURR,,,,,,,,,,,,,,,,,
100003,0,0,0,0,270000.0,1293502.5,1,0,1,0,1,0,1,0,1,0,1

100003
1
Le client prÃ©sente trop de risque

,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,CODE_GENDER_F,CODE_GENDER_M,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Unaccompanied,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Single / not married,NAME_HOUSING_TYPE_House / apartment
SK_ID_CURR,,,,,,,,,,,,,,,,,
100002,0,0,1,0,202500.0,406597.5,0,1,0,1,0,1,0,1,0,1,1

100002