In [12]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import os

In [2]:
# List files available
print(os.listdir("../csv_file/"))

['application_test.csv', 'application_train.csv']

In [9]:
# Training data
app_train = pd.read_csv("../csv_file/application_train.csv")
app_train_filt = app_train[['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']]
app_train_filt

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
0,100002,1,Cash loans,M,N,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
1,100003,0,Cash loans,F,N,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment
2,100004,0,Revolving loans,M,Y,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
3,100006,0,Cash loans,F,N,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment
4,100007,0,Cash loans,M,N,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents
307507,456252,0,Cash loans,F,N,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment
307508,456253,0,Cash loans,F,N,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment
307509,456254,1,Cash loans,F,N,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
307510,456255,0,Cash loans,F,N,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment

In [17]:
# Testing data features
app_test = pd.read_csv('../csv_file/application_test.csv')
app_test_filt = app_test[['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'DAYS_BIRTH', 'FLAG_OWN_CAR', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']]
app_test_filt

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,DAYS_BIRTH,FLAG_OWN_CAR,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
0,100001,Cash loans,F,-19241,N,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment
1,100005,Cash loans,M,-18064,N,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
2,100013,Cash loans,M,-20038,Y,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment
3,100028,Cash loans,F,-13976,N,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
4,100038,Cash loans,M,-13040,Y,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,-19970,N,N,Y,0,121500.0,412560.0,17473.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment
48740,456222,Cash loans,F,-11186,N,N,N,2,157500.0,622413.0,31909.5,495000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
48741,456223,Cash loans,F,-15922,Y,Y,Y,1,202500.0,315000.0,33205.5,315000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment
48742,456224,Cash loans,M,-13968,N,N,N,0,225000.0,450000.0,25128.0,450000.0,Family,Commercial associate,Higher education,Married,House / apartment
48743,456250,Cash loans,F,-13962,Y,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment

In [18]:
app_train_filt.describe(include=['O'])

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE
count,307511,307511,307511,307511,307511,306219,307511,307511,307511,307511
unique,2,3,2,2,2,7,8,5,6,6
top,Cash loans,F,N,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment
freq,278232,202448,202924,202924,213312,248526,158774,218391,196432,272868

In [24]:
# Number of unique classes in each object column
app_train_filt.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE     2
CODE_GENDER            3
FLAG_OWN_CAR           2
FLAG_OWN_CAR           2
FLAG_OWN_REALTY        2
NAME_TYPE_SUITE        7
NAME_INCOME_TYPE       8
NAME_EDUCATION_TYPE    5
NAME_FAMILY_STATUS     6
NAME_HOUSING_TYPE      6
dtype: int64

In [51]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train_filt:
    if app_train_filt[col].dtypes == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train_filt[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train_filt[col])
            # Transform both training and testing data
            app_train_filt[col] = le.transform(app_train_filt[col])
            app_test_filt[col] = le.transform(app_test_filt[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [50]:
# one-hot encoding of categorical variables
app_train_filt = pd.get_dummies(app_train_filt)
app_test_filt = pd.get_dummies(app_test_filt)

print('Training Features shape: ', app_train_filt.shape)
print('Testing Features shape: ', app_test_filt.shape)

Training Features shape:  (307511, 49)
Testing Features shape:  (48744, 46)

In [52]:
app_train_filt

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,CODE_GENDER_F,CODE_GENDER_M,...,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Unknown,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents
0,100002,1,0,0,202500.0,406597.5,24700.5,351000.0,0,1,...,0,1,0,0,0,1,0,0,0,0
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,1,...,0,1,0,0,0,1,0,0,0,0
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,100007,0,0,0,121500.0,513000.0,21865.5,513000.0,0,1,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,0,0,157500.0,254700.0,27558.0,225000.0,0,1,...,1,0,0,0,0,0,0,0,0,1
307507,456252,0,0,0,72000.0,269550.0,12001.5,225000.0,1,0,...,0,0,0,1,0,1,0,0,0,0
307508,456253,0,0,0,153000.0,677664.0,29979.0,585000.0,1,0,...,1,0,0,0,0,1,0,0,0,0
307509,456254,1,0,0,171000.0,370107.0,20205.0,319500.0,1,0,...,0,0,0,0,0,1,0,0,0,0
307510,456255,0,0,0,157500.0,675000.0,49117.5,675000.0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [53]:
train_labels = app_train_filt['TARGET']

# Align the training and testing data, keep only columns present in both dataframes
app_train_filt, app_test_filt = app_train_filt.align(app_test_filt, join = 'inner', axis = 1)

# Add the target back in
app_train_filt['TARGET'] = train_labels

print('Training Features shape: ', app_train_filt.shape)
print('Testing Features shape: ', app_test_filt.shape)

Training Features shape:  (307511, 50)
Testing Features shape:  (48744, 49)

In [54]:
app_train_filt

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,CNT_CHILDREN,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,...,NAME_INCOME_TYPE_Working,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,SK_ID_CURR,TARGET
0,24700.5,406597.5,351000.0,202500.0,0,0,1,1,1,1,...,1,0,0,0,0,0,0,1,100002,1
1,35698.5,1293502.5,1129500.0,270000.0,0,1,0,1,1,1,...,0,0,1,0,0,0,0,0,100003,0
2,6750.0,135000.0,135000.0,67500.0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,100004,0
3,29686.5,312682.5,297000.0,135000.0,0,1,0,1,1,1,...,1,0,0,0,0,0,0,1,100006,0
4,21865.5,513000.0,513000.0,121500.0,0,0,1,1,1,1,...,1,0,0,0,0,0,0,1,100007,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,27558.0,254700.0,225000.0,157500.0,0,0,1,1,1,1,...,1,0,0,0,0,0,0,1,456251,0
307507,12001.5,269550.0,225000.0,72000.0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,1,456252,0
307508,29979.0,677664.0,585000.0,153000.0,0,1,0,1,1,1,...,1,0,0,0,0,0,0,1,456253,0
307509,20205.0,370107.0,319500.0,171000.0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,1,456254,1
307510,49117.5,675000.0,675000.0,157500.0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,1,456255,0

In [55]:
app_test_filt

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,CNT_CHILDREN,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,FLAG_OWN_CAR_N,...,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,SK_ID_CURR
0,20560.5,568800.0,450000.0,135000.0,0,1,0,1,1,1,...,0,1,0,0,0,0,0,0,1,100001
1,17370.0,222768.0,180000.0,99000.0,0,0,1,1,1,1,...,0,1,0,0,0,0,0,0,1,100005
2,69777.0,663264.0,630000.0,202500.0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,100013
3,49018.5,1575000.0,1575000.0,315000.0,2,1,0,1,1,1,...,0,1,0,0,0,0,0,0,1,100028
4,32067.0,625500.0,625500.0,180000.0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,100038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,17473.5,412560.0,270000.0,121500.0,0,1,0,1,1,1,...,0,1,0,0,0,0,0,0,1,456221
48740,31909.5,622413.0,495000.0,157500.0,2,1,0,1,1,1,...,0,0,0,0,0,0,0,0,1,456222
48741,33205.5,315000.0,315000.0,202500.0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,456223
48742,25128.0,450000.0,450000.0,225000.0,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,456224
48743,24709.5,312768.0,270000.0,135000.0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,456250

In [67]:
X = app_train_filt.drop(labels="TARGET", axis=1)
# X
y = app_train_filt['TARGET']
# y

In [71]:
from sklearn.model_selection import train_test_split
X_train_sf, X_test_sf, y_train_sf, y_test_sf = train_test_split(X, y, random_state=42)

In [74]:
y_train_sf.value_counts(normalize=True)

0    0.919205
1    0.080795
Name: TARGET, dtype: float64

In [75]:
y_test_sf.value_counts(normalize=True)

0    0.91947
1    0.08053
Name: TARGET, dtype: float64

1    0.649358
0    0.350642
Name: TARGET, dtype: float64

1    0.96003
0    0.03997
Name: TARGET, dtype: float64